# general
/*.pem
/*.env
/.DS_Store
/*.code-workspace

/node_modules

/package-lock.json
/npm-debug.log*

/yarn.lock
/yarn-debug.log*
/yarn-error.log*

/.pnp
/.pnp.js


# build
/build 


# api
/temp
env.json

# Twitch
/Project.json
public.rar